---
layout: default.pug
pagetitle: About
title: About
subtitle: My (small) Biography
---

p.
  My name is oriont. I like to program random things, mostly games and utilities. 
  I like to mostly make games, so I can play them. 
  I rarely finish my projects, but I am now working on finishing all of my old ones. This will probabaly take a while. :)
  I like to work with my friends, and one of them named mastari likes to edit and play around with visual effects. 
  Recently he has started coding, and we are collaborating right now on a game called Ohmastium.
  A big part of this game is an engine that can do atomic physics, and we have decided that it is best to make this part first.
  I also like to play games that 'feel' productive, such as factorio.
  Although, I don't mind a little bit of r6s.