---
layout: default.pug
pagetitle: Home
title: oriont.net
subtitle: Blogs, Projects, Tutorials, and more.
---

h1 Welcome to oriont.net

p In my website I post the things I do on the computer.
br
p There will be more coming soon, I just wanted to get this update up.